@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,700&family=Rubik:wght@400;700&display=swap');
/** font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif; **/

body{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #616161;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1087px;
    margin: 0 auto;
    
}
/* PC */
/*@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}*/
/* TABLET */
/*@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}*/

/*@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}*/

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
		&__container {
            display: flex;
            min-height: 114px;
            align-items: center;
                /*@media (max-width: 991.98px){
                    .header__container {
                        min-height: 80px;
                    }
                }*/
		}

		&__logo {
            position: relative;
            z-index: 5;
           /* @media (max-width: 479.98px){
                .header__logo {
                    flex: 0 0 40px;
                    overflow: hidden;
                }
                
            }*/
		}

		&__menu {
            flex: 1 1 auto;
            
		}

		&__button {
            position: relative;
            z-index: 5;
            flex: 0 0 252px;
            display: flex;
            justify-content: flex-end;
               /* @media (max-width: 991.98px) {
                 .header__button {
                     flex: 0 0 170px;
                 }   
                }*/
               /* @media (max-width: 767.98px) {
                    .header__button .button{
                    padding: 14px 20px;
                    }
                }*/
		}

}
.menu {
    justify-content: flex-end;
    display: flex;
        

		&__list {
            display: flex;
		}

		&__item {
            margin: 0px 40px 0px 0px;
               /* @media (max-width: 991.98px){
                    .menu__item {
                        margin: 0px 30px 0px 0px;
                    }
                    
                }*/
		}

		&__link {
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 1.2;
            color: #000000;
            letter-spacing: 1px;
            
		}

        &__link:hover {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.267));
        }
        /*@media (max-width: 767.98px) {
            .close-icon-menu{
                
            }
                .menu__body{
                    position: fixed;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    padding: 90px 15px 30px 15px;
                    transition: left 0.3s ease 0s;
                }
                .menu__body:target{
                    left: 0;
                }
                .menu__link{
                    color: #000;
                    font-size: 20px;
                    
                }
                .menu__list {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                }
                .menu__item {
                    margin: 0 0 25px 0;
                }
                .menu__item:last-child{
                    margin-bottom: 0;
                }
        }*/
}
.button {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #fcfdfe;
    padding: 14px 30px;
    border-radius: 5px; 
    background: #ec5863;
    &:hover {
        background-color: #ec6c74;
        box-shadow: 0px 0px 15px #ec6c74;
        transition: all 0.3s;
    }
}
.button-blue {
    background: #4285F4;
    &:hover{
        background-color: #005eff;
        box-shadow: 0px 0px 9px #005eff;
        transition: all 0.3s;
    }
}
/*-----------*/
.icon-menu{
    display: none;
}

/*___HEADER___*/

/*___PC___*/

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/*___TABLET___*/

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}

/*___MOBILE___*/

@media (max-width: 767.98px) {

    [class*="__container"] {
        max-width: none;
    }

    .close-icon-menu,
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-self: center;
        margin: 0 10px 0 20px;
        }
        ::before,
        ::after {
            content: "";
            background: #000;
            height: 2.5px;
        
                span{
                    height: 2.5px;
                    background: #000;
                    
                }
                
    }
    .close-icon-menu{
        display: none;
    }
    .close-icon-menu::before,
    .close-icon-menu::after{
        content: "";
        background: #000;
        height: 2px;
        transform-origin: 27px 1px;
    }
    .close-icon-menu::before{
            content: "";
            transform: rotate(42deg);
        }
    .close-icon-menu::after{
            content: "";
            transform: rotate(-42deg);
        }
        .header:target .icon-menu{
            display: none;
        }
        .header:target .close-icon-menu{
            display: flex;
        }
                .header__button .button{
                    padding: 14px 20px;
                }
    
                .menu__body{
                    position: fixed;
                    top: 0%;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    padding: 90px 15px 30px 15px;
                    transition: left 0.3s ease 0s;
                    overflow: auto;
                    
                }
                .header:target .menu__body{
                    left: 0;
                }
                .header:target .menu__body::before{
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 80px;
                    width: 100%;
                    background-color: #FAFBFD;
                }
                .menu__link{
                    color: #000;
                    font-size: 20px;
                    
                }
                .menu__list {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                }
                .menu__item {
                    margin: 0 0 25px 0;
                }
                .menu__item:last-child{
                    margin-bottom: 0;
                }
                .header__button .button{
                    padding: 14px 20px;
                    }

}

@media (max-width: 479.98px){
                .header__logo {
                    flex: 0 0 40px;
                    overflow: hidden;
                }
                
            }


/*_____________________________________________*/

.get-started {
background: #FAFBFD;
		&__container {
            padding: 150px 15px 50px 15px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
		}

        &__container::before{
            content: "";
            position: absolute;
            width: 100vw;
            height: 100%;
            right: 267px;
            top: 0;
            transform: translate(100%, 0px);
            background-color: #ec5863;
            border-radius: 30px 0px 0px 30px;
        }

		&__content {
            flex: 1 0 48%;
            padding: 0 20px;
		}

		&__block-text {
            max-width: 410px;
		}

		&__image {
            flex: 1 0 52%;
            position: relative;
            z-index: 2;
            img{
                max-width: 100%;
            }
		}

		
}

/*****************************************/
.block-text {

		&__title {
            line-height: 126%;
            font-weight: 700;
            font-size: 44px;
            color: #000;
            margin: 0 0 12px 0;
            span {
                color: #ec5863;
            }
            
            
		}

        &__title-blue span {
            color: #4285F4;
        }

		&__text {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 138.5%;
            letter-spacing: 0.08em;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #616161;
            margin: 0 0 24px 0;
            
		}

        &__text-mw {
            max-width: 620px;
            margin: 0 auto;
        }

        &__center {
            text-align: center;
            
        }

		&__button{
            width: 144px;
            text-align: center;
            
		}

        @media (max-width: 767.98px) {
            .block-text__title {
                font-size: 34px;
                text-align: center;

            }
            .block-text__text{
                text-align: center;
                
            }
            
            
        }
}


/*****************************************/
.get-started {

		&__video {
            flex: 1 1 100%;
            padding: 60px 0 0 20px;
		}
}
.video-get-started {
display: inline-flex;
align-items: center;
		&__icon {
            flex: 0 0 44px;
		}

		&__body {
            padding: 0 0 0 12px;
		}

		&__title {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 126%;
            letter-spacing: 0.08em;
            color: #B0B0B0;
		}

        &__title:not(:last-child){
            margin: 0 0 5PX 0;
        }

		&__text {
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            line-height: 126%;
            letter-spacing: 0.165em;
            text-transform: uppercase;
            color: #000000;
		}
}

@media (max-width: 991.98px) {
    .get-started__container::before{
        content: "";
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

@media (max-width: 767.98px) {
    .get-started__container {
        padding: 100px 15px 30px 15px;
    }
    .get-started__container::before{
        content: "";
        display: none;
    }
    .get-started__block-text {
        max-width: none;
    }
    .get-started__content {
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
    }
    .get-started__video {
        padding: 0;
    }
}
/*********************************************************************************/
.stay-safe {
    padding: 80px 0;
		&__container {
            display: flex;
            align-items: center;
            padding: 0 15px;
		}

		&__media {
            flex: 0 1 50%;
		}

		&__content {
            flex: 0 1 50%;
		}

}
.media-stay-safe {
    width: 373px;
    padding: 56px 0 27px 0;
    text-align: center;
    position: relative;
		&__image {
            display: inline-block;
            position: relative;
            box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
            border-radius: 16px;
            width: 61.5%;
		}
        &__image img{
            position: relative;
            z-index: 5;
            max-width: 100%;
        }
        &__image::after{
            content: "";
            position: absolute;
            left: 12px;
            bottom: -12px;
            width: 206px;
            height: 27px;
            z-index: 2;
            background: rgba(240, 240, 240, 0.49);
            border-radius: 16px;
        }

		&__item {
            position: absolute;
            background-color: #ec5863;
            border-radius: 30px;
            width: 77px;
            height: 77px;
		}

		&__item-1 {
            top: 0;
            left: 0;
            width: 147px;
            height: 147px;
		}

		&__item-2 {
            bottom: 0;
            left: 33px;
		}

		&__item-3 {
            bottom: 107px;
            right: 34px;
		}

}
@media (max-width: 991.98px) {

    .stay-safe {
        padding: 40px 0;

		&__media {
            padding: 0 0 0 47px;
		}
}

}
@media (min-width: 991.98px) {

    .stay-safe {

		&__media {
            padding: 0 0 0 47px;
		}
}

}
@media (max-width: 767.98px) {
        .stay-safe {
            padding: 30px 0;
		&__container {
            flex-direction: column-reverse;
		}

		&__media {
            padding: 0 0 0 47px;
		}

		&__content {
            margin: 0 0 30px 0;
		}
    }
    

}

@media (max-width: 479.98px){
    .media-stay-safe {
        width: 290px;
        
    }
}

.experts {
    background: #FAFBFD;
    padding: 103px 0 116px 0;

        &__block-text {
            max-width: 100%;
        }
        &__body {
            display: flex;
            align-items: center;
        }
        &__content {
            flex: 0 1 50%;
            padding: 0 20px 0 0;
        }
        &__video {
            flex: 0 1 58%;
            padding: 0 0 30% 0;
            position: relative;
            box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
            border-radius: 8px;
            overflow: hidden;
        }
        &__video iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
}
.statistics-experts {
    max-width: 664px;
    margin: 0 auto;
    position: relative;

		&__body {
            background: #fff;
            box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
            border-radius: 16px;
            position: relative;
            z-index: 2;
            margin: 0 0 80px 0;
		}

		&__decor {
            position: absolute;
            background: #ec5863;
            border-radius: 30px;
		}

		&__decor-1 {
            width: 65px;
            height: 65px;
            transform: rotate(-30deg);
            bottom: -21px;
            left: -21px;
            border-radius: 16px;
		}

		&__decor-2 {
            width: 97px;
            height: 97px;
            right: 50%;
            top: -40px;
            transform: rotate(30deg);
		}

		&__decor-3 {
            width: 128px;
            height: 128px;
            right: -50px;
            top: 0px;
            transform: rotate(-30deg);
		}
}
.body-statistics-experts {
    padding: 25px 80px;
    display: flex;
    align-items: center;

		&__item {
            flex: 0 1 25%;
            text-align: center;
		}
        &__item:last-child {
            flex: 0 1 50%;
		}

		&__value {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.2;
            letter-spacing: 1px;
            color: #EC5863;
            margin-bottom: 5px;
		}

		&__text {
            font-weight: 700;
            font-size: 11px;
            line-height: 1.8;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #000000;
		}
}

@media (max-width: 767.98px) {
    .experts {
        padding: 80px 0 30px 0;
    }
    .experts__block-text {
        margin: 0 auto;
        padding: 0 15px;
    }
    .experts__body {
        display: block;

    }
    .experts__video {
        margin: 0 10px;
        padding: 0 0px 58% 0px;
    }
    .experts__content {
        align-items: stretch;
        padding: 0;
        margin-bottom: 30px;
    }
    .statistics-experts__body {
        margin: 0 0 50px 0;
    }
    .body-statistics-experts {
        padding: 25px;
    }
}
@media (max-width: 479.98px) {
    .body-statistics-experts {
        flex-direction: column;
    }
    .body-statistics-experts-item:not(:last-child) {
        margin: 0 0 15px 0;
    }
}

/* ____________________________________________________________________ */


.healthcare {
    padding: 80px 0 30px 0;

		&__block-text {
            margin-bottom: 45px ;
        }

		&__items {
            display: flex;
            max-width: 980px;
            margin: 0 auto;
            gap: 72px;
		}

		&__item {
            flex: 0 1 33.333%;
		}
}

.item-healthcare {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 17px;

		&__icon {
            margin: 0 0 58px 0;
		}

		&__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 138.5%;
            color: #000000;
            margin: 0 0 4px 0;
		}

		&__text {
            line-height: 138.5%;
		}
}
.item-healthcare-1 {
    ::before{
        width: 65px;
        height: 65px;
        bottom: 0px;left: 0;
        transform: rotate(-30deg);
    }
    ::after,::before{
        content: "";
        position: absolute;
        background-color: #EC5863;
        border-radius: 16px;
        z-index: 1;
    }
}


@media (max-width: 767.98px) {
    .healthcare__items {
        flex-direction: column;
        justify-content: center;
        margin: 0 40px;
        flex: 0 1 100%;
    }
}


.footer {
    margin: 0 auto;
}
.lastblock {
    margin: 75px 0 46px 0;

}
.imagelink {
display: inline-flex;
justify-content: space-around;
align-items: center;
		&__items {
            display: flex;
            align-items: center;
            gap: 56px;
            
		}

		&__item-google:hover {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.267));
		}

		&__item-apple:hover {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.267));
		}
}




